<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Webpack</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Add you custom fonts like this here -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet"> -->
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>